<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <h1>Create your post</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="enter title" name="title">
        <br>
        <textarea name="content" id="content" placeholder="write your content here.."></textarea>
        <br>
        <button type="submit">create post</button>
    </form>
</body>
</html>